*{
    border:0;
    padding:0;
    margin:0;
}

canvas{
    position: relative;
    top: 100px;
    left:400px;
    border: 1px solid gray;
}

#controls{
    position: absolute;
    top:100px;
    left:5px;
    padding:20px;
    border: 1px solid gray;
    background-color: lightskyblue;
    border-radius: 10px;
    box-shadow: 2px 2px 12px lightskyblue;
}

.lightBorder {
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    margin: 4px;
}
